/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Inline_response_200_3
import io.swagger.client.model.Inline_response_200_4
import io.swagger.client.model.Inline_response_200_5
import io.swagger.client.model.Inline_response_200_1
import io.swagger.client.model.Inline_response_200_6
import io.swagger.client.model.Inline_response_200_7
import io.swagger.client.model.Inline_response_200_8
import io.swagger.client.model.Inline_response_200_9
import io.swagger.client.model.Inline_response_200_10
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ApplicationEndpointsApi {

  /**
   * Get all Connections
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_3 (successful operation)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param accessToken Application&#39;s OAuth2 access token
   * @param connectorId The id for the connector data source for which the connection is connected
   * @param connectStatus Indicates whether a connector is currently connected to a service for a user.
   * @param connectError Error message if there is a problem with authorizing this connection.
   * @param updateRequestedAt Time at which an update was requested by a user.
   * @param updateStatus Indicates whether a connector is currently updated.
   * @param updateError Indicates if there was an error during the update.
   * @param lastSuccessfulUpdatedAt The time at which the connector was last successfully updated.
   * @param createdAt When the record was first created. Use ISO 8601 datetime format 
   * @param updatedAt When the record was last updated. Use ISO 8601 datetime format 
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.
   * @param offset OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.
   * @param sort Sort by given field. If the field is prefixed with &#39;-&#39;, it will sort in descending order.
   */
  def v2ApplicationConnectionsGet(accessToken: Option[String] = None, connectorId: Option[Int] = None, connectStatus: Option[String] = None, connectError: Option[String] = None, updateRequestedAt: Option[String] = None, updateStatus: Option[String] = None, updateError: Option[String] = None, lastSuccessfulUpdatedAt: Option[String] = None, createdAt: Option[String] = None, updatedAt: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Inline_response_200_3] =
    ApiRequest[Inline_response_200_3](ApiMethods.GET, "https://app.quantimo.do/api", "/v2/application/connections", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("connector_id", connectorId)
      .withQueryParam("connect_status", connectStatus)
      .withQueryParam("connect_error", connectError)
      .withQueryParam("update_requested_at", updateRequestedAt)
      .withQueryParam("update_status", updateStatus)
      .withQueryParam("update_error", updateError)
      .withQueryParam("last_successful_updated_at", lastSuccessfulUpdatedAt)
      .withQueryParam("created_at", createdAt)
      .withQueryParam("updated_at", updatedAt)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_3](200)
        /**
   * Get all Credentials
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_4 (successful operation)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param accessToken Application&#39;s OAuth2 access token
   * @param connectorId The id for the connector data source from which the credential was obtained
   * @param attrKey Attribute name such as token, userid, username, or password
   * @param attrValue Encrypted value for the attribute specified
   * @param createdAt When the record was first created. Use ISO 8601 datetime format 
   * @param updatedAt When the record was last updated. Use ISO 8601 datetime format 
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.
   * @param offset OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.
   * @param sort Sort by given field. If the field is prefixed with &#39;-&#39;, it will sort in descending order.
   */
  def v2ApplicationCredentialsGet(accessToken: Option[String] = None, connectorId: Option[Int] = None, attrKey: Option[String] = None, attrValue: Option[String] = None, createdAt: Option[String] = None, updatedAt: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Inline_response_200_4] =
    ApiRequest[Inline_response_200_4](ApiMethods.GET, "https://app.quantimo.do/api", "/v2/application/credentials", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("connector_id", connectorId)
      .withQueryParam("attr_key", attrKey)
      .withQueryParam("attr_value", attrValue)
      .withQueryParam("created_at", createdAt)
      .withQueryParam("updated_at", updatedAt)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_4](200)
        /**
   * Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_5 (successful operation)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param accessToken Application&#39;s OAuth2 access token
   * @param clientId The ID of the client application which originally stored the measurement
   * @param connectorId The id for the connector data source from which the measurement was obtained
   * @param variableId ID of the variable for which we are creating the measurement records
   * @param sourceId Application or device used to record the measurement values
   * @param startTime start time for the measurement event. Use ISO 8601 datetime format 
   * @param value The value of the measurement after conversion to the default unit for that variable
   * @param unitId The default unit id for the variable
   * @param originalValue Unconverted value of measurement as originally posted (before conversion to default unit)
   * @param originalUnitId Unit id of the measurement as originally submitted
   * @param duration Duration of the event being measurement in seconds
   * @param note An optional note the user may include with their measurement
   * @param latitude Latitude at which the measurement was taken
   * @param longitude Longitude at which the measurement was taken
   * @param location Optional human readable name for the location where the measurement was recorded
   * @param createdAt When the record was first created. Use ISO 8601 datetime format 
   * @param updatedAt When the record was last updated. Use ISO 8601 datetime format 
   * @param error An error message if there is a problem with the measurement
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.
   * @param offset OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.
   * @param sort Sort by given field. If the field is prefixed with &#39;-&#39;, it will sort in descending order.
   */
  def v2ApplicationMeasurementsGet(accessToken: Option[String] = None, clientId: Option[String] = None, connectorId: Option[Int] = None, variableId: Option[Int] = None, sourceId: Option[Int] = None, startTime: Option[String] = None, value: Option[Double] = None, unitId: Option[Int] = None, originalValue: Option[Double] = None, originalUnitId: Option[Int] = None, duration: Option[Int] = None, note: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, location: Option[String] = None, createdAt: Option[String] = None, updatedAt: Option[String] = None, error: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Inline_response_200_5] =
    ApiRequest[Inline_response_200_5](ApiMethods.GET, "https://app.quantimo.do/api", "/v2/application/measurements", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("client_id", clientId)
      .withQueryParam("connector_id", connectorId)
      .withQueryParam("variable_id", variableId)
      .withQueryParam("source_id", sourceId)
      .withQueryParam("start_time", startTime)
      .withQueryParam("value", value)
      .withQueryParam("unit_id", unitId)
      .withQueryParam("original_value", originalValue)
      .withQueryParam("original_unit_id", originalUnitId)
      .withQueryParam("duration", duration)
      .withQueryParam("note", note)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("location", location)
      .withQueryParam("created_at", createdAt)
      .withQueryParam("updated_at", updatedAt)
      .withQueryParam("error", error)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_5](200)
        /**
   * Get the variable id, frequency, and default value for the user tracking reminders 
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_1 (successful operation)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param accessToken User&#39;s OAuth2 access token
   * @param clientId The ID of the client application which last created or updated this trackingReminder
   * @param createdAt When the record was first created. Use ISO 8601 datetime format 
   * @param updatedAt When the record was last updated. Use ISO 8601 datetime format 
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.
   * @param offset OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.
   * @param sort Sort by given field. If the field is prefixed with &#39;-&#39;, it will sort in descending order.
   */
  def v2ApplicationTrackingRemindersGet(accessToken: Option[String] = None, clientId: Option[String] = None, createdAt: Option[String] = None, updatedAt: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Inline_response_200_1] =
    ApiRequest[Inline_response_200_1](ApiMethods.GET, "https://app.quantimo.do/api", "/v2/application/trackingReminders", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("client_id", clientId)
      .withQueryParam("created_at", createdAt)
      .withQueryParam("updated_at", updatedAt)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_1](200)
        /**
   * Get all Updates
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_6 (successful operation)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param accessToken Application&#39;s OAuth2 access token
   * @param connectorId connector_id
   * @param numberOfMeasurements number_of_measurements
   * @param success success
   * @param message message
   * @param createdAt When the record was first created. Use ISO 8601 datetime format 
   * @param updatedAt When the record was last updated. Use ISO 8601 datetime format 
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.
   * @param offset OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.
   * @param sort Sort by given field. If the field is prefixed with &#39;-&#39;, it will sort in descending order.
   */
  def v2ApplicationUpdatesGet(accessToken: Option[String] = None, connectorId: Option[Int] = None, numberOfMeasurements: Option[Int] = None, success: Option[Boolean] = None, message: Option[String] = None, createdAt: Option[String] = None, updatedAt: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Inline_response_200_6] =
    ApiRequest[Inline_response_200_6](ApiMethods.GET, "https://app.quantimo.do/api", "/v2/application/updates", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("connector_id", connectorId)
      .withQueryParam("number_of_measurements", numberOfMeasurements)
      .withQueryParam("success", success)
      .withQueryParam("message", message)
      .withQueryParam("created_at", createdAt)
      .withQueryParam("updated_at", updatedAt)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_6](200)
        /**
   * Get all UserVariableRelationships
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_7 (successful operation)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param accessToken User&#39;s OAuth2 access token
   * @param id id
   * @param confidenceLevel Our confidence that a consistent predictive relationship exists based on the amount of evidence, reproducibility, and other factors
   * @param confidenceScore A quantitative representation of our confidence that a consistent predictive relationship exists based on the amount of evidence, reproducibility, and other factors
   * @param direction Direction is positive if higher predictor values generally precede higher outcome values. Direction is negative if higher predictor values generally precede lower outcome values.
   * @param durationOfAction Estimated number of seconds following the onset delay in which a stimulus produces a perceivable effect
   * @param errorMessage error_message
   * @param onsetDelay Estimated number of seconds that pass before a stimulus produces a perceivable effect
   * @param outcomeVariableId Variable ID for the outcome variable
   * @param predictorVariableId Variable ID for the predictor variable
   * @param predictorUnitId ID for default unit of the predictor variable
   * @param sinnRank A value representative of the relevance of this predictor relative to other predictors of this outcome.  Usually used for relevancy sorting.
   * @param strengthLevel Can be weak, medium, or strong based on the size of the effect which the predictor appears to have on the outcome relative to other variable relationship strength scores.
   * @param strengthScore A value represented to the size of the effect which the predictor appears to have on the outcome.
   * @param vote vote
   * @param valuePredictingHighOutcome Value for the predictor variable (in it&#39;s default unit) which typically precedes an above average outcome value
   * @param valuePredictingLowOutcome Value for the predictor variable (in it&#39;s default unit) which typically precedes a below average outcome value
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.
   * @param offset OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.
   * @param sort Sort by given field. If the field is prefixed with &#39;-&#39;, it will sort in descending order.
   */
  def v2ApplicationUserVariableRelationshipsGet(accessToken: Option[String] = None, id: Option[Int] = None, confidenceLevel: Option[String] = None, confidenceScore: Option[Double] = None, direction: Option[String] = None, durationOfAction: Option[Int] = None, errorMessage: Option[String] = None, onsetDelay: Option[Int] = None, outcomeVariableId: Option[Int] = None, predictorVariableId: Option[Int] = None, predictorUnitId: Option[Int] = None, sinnRank: Option[Double] = None, strengthLevel: Option[String] = None, strengthScore: Option[Double] = None, vote: Option[String] = None, valuePredictingHighOutcome: Option[Double] = None, valuePredictingLowOutcome: Option[Double] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Inline_response_200_7] =
    ApiRequest[Inline_response_200_7](ApiMethods.GET, "https://app.quantimo.do/api", "/v2/application/userVariableRelationships", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("id", id)
      .withQueryParam("confidence_level", confidenceLevel)
      .withQueryParam("confidence_score", confidenceScore)
      .withQueryParam("direction", direction)
      .withQueryParam("duration_of_action", durationOfAction)
      .withQueryParam("error_message", errorMessage)
      .withQueryParam("onset_delay", onsetDelay)
      .withQueryParam("outcome_variable_id", outcomeVariableId)
      .withQueryParam("predictor_variable_id", predictorVariableId)
      .withQueryParam("predictor_unit_id", predictorUnitId)
      .withQueryParam("sinn_rank", sinnRank)
      .withQueryParam("strength_level", strengthLevel)
      .withQueryParam("strength_score", strengthScore)
      .withQueryParam("vote", vote)
      .withQueryParam("value_predicting_high_outcome", valuePredictingHighOutcome)
      .withQueryParam("value_predicting_low_outcome", valuePredictingLowOutcome)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_7](200)
        /**
   * Get all UserVariables
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_8 (successful operation)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param accessToken User&#39;s OAuth2 access token
   * @param clientId The ID of the client application which last created or updated this user variable
   * @param parentId ID of the parent variable if this variable has any parent
   * @param variableId ID of variable
   * @param defaultUnitId D of unit to use for this variable
   * @param minimumAllowedValue Minimum reasonable value for this variable (uses default unit)
   * @param maximumAllowedValue Maximum reasonable value for this variable (uses default unit)
   * @param fillingValue Value for replacing null measurements
   * @param joinWith The Variable this Variable should be joined with. If the variable is joined with some other variable then it is not shown to user in the list of variables
   * @param onsetDelay Estimated number of seconds that pass before a stimulus produces a perceivable effect
   * @param durationOfAction Estimated duration of time following the onset delay in which a stimulus produces a perceivable effect
   * @param variableCategoryId ID of variable category
   * @param updated updated
   * @param public Is variable public
   * @param causeOnly A value of 1 indicates that this variable is generally a cause in a causal relationship.  An example of a causeOnly variable would be a variable such as Cloud Cover which would generally not be influenced by the behaviour of the user
   * @param fillingType 0 -&gt; No filling, 1 -&gt; Use filling-value
   * @param numberOfMeasurements Number of measurements
   * @param numberOfProcessedMeasurements Number of processed measurements
   * @param measurementsAtLastAnalysis Number of measurements at last analysis
   * @param lastUnitId ID of last Unit
   * @param lastOriginalUnitId ID of last original Unit
   * @param lastOriginalValue Last original value which is stored
   * @param lastValue Last Value
   * @param lastSourceId ID of last source
   * @param numberOfCorrelations Number of correlations for this variable
   * @param status status
   * @param errorMessage error_message
   * @param lastSuccessfulUpdateTime When this variable or its settings were last updated
   * @param standardDeviation Standard deviation
   * @param variance Variance
   * @param minimumRecordedValue Minimum recorded value of this variable
   * @param maximumRecordedValue Maximum recorded value of this variable
   * @param mean Mean
   * @param median Median
   * @param mostCommonUnitId Most common Unit ID
   * @param mostCommonValue Most common value
   * @param numberOfUniqueDailyValues Number of unique daily values
   * @param numberOfChanges Number of changes
   * @param skewness Skewness
   * @param kurtosis Kurtosis
   * @param latitude Latitude
   * @param longitude Longitude
   * @param location Location
   * @param createdAt When the record was first created. Use ISO 8601 datetime format 
   * @param updatedAt When the record was last updated. Use ISO 8601 datetime format 
   * @param outcome Outcome variables (those with &#x60;outcome&#x60; &#x3D;&#x3D; 1) are variables for which a human would generally want to identify the influencing factors.  These include symptoms of illness, physique, mood, cognitive performance, etc.  Generally correlation calculations are only performed on outcome variables
   * @param sources Comma-separated list of source names to limit variables to those sources
   * @param earliestSourceTime Earliest source time
   * @param latestSourceTime Latest source time
   * @param earliestMeasurementTime Earliest measurement time
   * @param latestMeasurementTime Latest measurement time
   * @param earliestFillingTime Earliest filling time
   * @param latestFillingTime Latest filling time
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.
   * @param offset OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.
   * @param sort Sort by given field. If the field is prefixed with &#39;-&#39;, it will sort in descending order.
   */
  def v2ApplicationUserVariablesGet(accessToken: Option[String] = None, clientId: Option[String] = None, parentId: Option[Int] = None, variableId: Option[Int] = None, defaultUnitId: Option[Int] = None, minimumAllowedValue: Option[Double] = None, maximumAllowedValue: Option[Double] = None, fillingValue: Option[Double] = None, joinWith: Option[Int] = None, onsetDelay: Option[Int] = None, durationOfAction: Option[Int] = None, variableCategoryId: Option[Int] = None, updated: Option[Int] = None, public: Option[Int] = None, causeOnly: Option[Boolean] = None, fillingType: Option[String] = None, numberOfMeasurements: Option[Int] = None, numberOfProcessedMeasurements: Option[Int] = None, measurementsAtLastAnalysis: Option[Int] = None, lastUnitId: Option[Int] = None, lastOriginalUnitId: Option[Int] = None, lastOriginalValue: Option[Int] = None, lastValue: Option[Double] = None, lastSourceId: Option[Int] = None, numberOfCorrelations: Option[Int] = None, status: Option[String] = None, errorMessage: Option[String] = None, lastSuccessfulUpdateTime: Option[String] = None, standardDeviation: Option[Double] = None, variance: Option[Double] = None, minimumRecordedValue: Option[Double] = None, maximumRecordedValue: Option[Double] = None, mean: Option[Double] = None, median: Option[Double] = None, mostCommonUnitId: Option[Int] = None, mostCommonValue: Option[Double] = None, numberOfUniqueDailyValues: Option[Double] = None, numberOfChanges: Option[Int] = None, skewness: Option[Double] = None, kurtosis: Option[Double] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, location: Option[String] = None, createdAt: Option[String] = None, updatedAt: Option[String] = None, outcome: Option[Boolean] = None, sources: Option[String] = None, earliestSourceTime: Option[Int] = None, latestSourceTime: Option[Int] = None, earliestMeasurementTime: Option[Int] = None, latestMeasurementTime: Option[Int] = None, earliestFillingTime: Option[Int] = None, latestFillingTime: Option[Int] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Inline_response_200_8] =
    ApiRequest[Inline_response_200_8](ApiMethods.GET, "https://app.quantimo.do/api", "/v2/application/userVariables", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("client_id", clientId)
      .withQueryParam("parent_id", parentId)
      .withQueryParam("variable_id", variableId)
      .withQueryParam("default_unit_id", defaultUnitId)
      .withQueryParam("minimum_allowed_value", minimumAllowedValue)
      .withQueryParam("maximum_allowed_value", maximumAllowedValue)
      .withQueryParam("filling_value", fillingValue)
      .withQueryParam("join_with", joinWith)
      .withQueryParam("onset_delay", onsetDelay)
      .withQueryParam("duration_of_action", durationOfAction)
      .withQueryParam("variable_category_id", variableCategoryId)
      .withQueryParam("updated", updated)
      .withQueryParam("public", public)
      .withQueryParam("cause_only", causeOnly)
      .withQueryParam("filling_type", fillingType)
      .withQueryParam("number_of_measurements", numberOfMeasurements)
      .withQueryParam("number_of_processed_measurements", numberOfProcessedMeasurements)
      .withQueryParam("measurements_at_last_analysis", measurementsAtLastAnalysis)
      .withQueryParam("last_unit_id", lastUnitId)
      .withQueryParam("last_original_unit_id", lastOriginalUnitId)
      .withQueryParam("last_original_value", lastOriginalValue)
      .withQueryParam("last_value", lastValue)
      .withQueryParam("last_source_id", lastSourceId)
      .withQueryParam("number_of_correlations", numberOfCorrelations)
      .withQueryParam("status", status)
      .withQueryParam("error_message", errorMessage)
      .withQueryParam("last_successful_update_time", lastSuccessfulUpdateTime)
      .withQueryParam("standard_deviation", standardDeviation)
      .withQueryParam("variance", variance)
      .withQueryParam("minimum_recorded_value", minimumRecordedValue)
      .withQueryParam("maximum_recorded_value", maximumRecordedValue)
      .withQueryParam("mean", mean)
      .withQueryParam("median", median)
      .withQueryParam("most_common_unit_id", mostCommonUnitId)
      .withQueryParam("most_common_value", mostCommonValue)
      .withQueryParam("number_of_unique_daily_values", numberOfUniqueDailyValues)
      .withQueryParam("number_of_changes", numberOfChanges)
      .withQueryParam("skewness", skewness)
      .withQueryParam("kurtosis", kurtosis)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("location", location)
      .withQueryParam("created_at", createdAt)
      .withQueryParam("updated_at", updatedAt)
      .withQueryParam("outcome", outcome)
      .withQueryParam("sources", sources)
      .withQueryParam("earliest_source_time", earliestSourceTime)
      .withQueryParam("latest_source_time", latestSourceTime)
      .withQueryParam("earliest_measurement_time", earliestMeasurementTime)
      .withQueryParam("latest_measurement_time", latestMeasurementTime)
      .withQueryParam("earliest_filling_time", earliestFillingTime)
      .withQueryParam("latest_filling_time", latestFillingTime)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_8](200)
        /**
   * Get all VariableUserSources
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_9 (successful operation)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param accessToken User&#39;s OAuth2 access token
   * @param variableId ID of variable
   * @param timestamp Time that this measurement occurred Uses epoch minute (epoch time divided by 60)
   * @param earliestMeasurementTime Earliest measurement time
   * @param latestMeasurementTime Latest measurement time
   * @param createdAt When the record was first created. Use ISO 8601 datetime format 
   * @param updatedAt When the record was last updated. Use ISO 8601 datetime format 
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.
   * @param offset OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.
   * @param sort Sort by given field. If the field is prefixed with &#39;-&#39;, it will sort in descending order.
   */
  def v2ApplicationVariableUserSourcesGet(accessToken: Option[String] = None, variableId: Option[Int] = None, timestamp: Option[Int] = None, earliestMeasurementTime: Option[Int] = None, latestMeasurementTime: Option[Int] = None, createdAt: Option[String] = None, updatedAt: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Inline_response_200_9] =
    ApiRequest[Inline_response_200_9](ApiMethods.GET, "https://app.quantimo.do/api", "/v2/application/variableUserSources", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("variable_id", variableId)
      .withQueryParam("timestamp", timestamp)
      .withQueryParam("earliest_measurement_time", earliestMeasurementTime)
      .withQueryParam("latest_measurement_time", latestMeasurementTime)
      .withQueryParam("created_at", createdAt)
      .withQueryParam("updated_at", updatedAt)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_9](200)
        /**
   * Get all Votes
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_10 (successful operation)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param accessToken User&#39;s OAuth2 access token
   * @param clientId The ID of the client application which last created or updated this vote
   * @param causeId ID of predictor variable
   * @param effectId ID of outcome variable
   * @param value Value of Vote. 1 is for upvote. 0 is for downvote.  Otherwise, there is no vote.
   * @param createdAt When the record was first created. Use ISO 8601 datetime format 
   * @param updatedAt When the record was last updated. Use ISO 8601 datetime format 
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.
   * @param offset OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.
   * @param sort Sort by given field. If the field is prefixed with &#39;-&#39;, it will sort in descending order.
   */
  def v2ApplicationVotesGet(accessToken: Option[String] = None, clientId: Option[String] = None, causeId: Option[Int] = None, effectId: Option[Int] = None, value: Option[Int] = None, createdAt: Option[String] = None, updatedAt: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Inline_response_200_10] =
    ApiRequest[Inline_response_200_10](ApiMethods.GET, "https://app.quantimo.do/api", "/v2/application/votes", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("client_id", clientId)
      .withQueryParam("cause_id", causeId)
      .withQueryParam("effect_id", effectId)
      .withQueryParam("value", value)
      .withQueryParam("created_at", createdAt)
      .withQueryParam("updated_at", updatedAt)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_10](200)
      

}

