/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.UserTokenRequest
import io.swagger.client.model.UserTokenSuccessfulResponse
import io.swagger.client.model.UserTokenFailedResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object OrganizationsApi {

  /**
   * Get user tokens for existing users, create new users
   * 
   * Expected answers:
   *   code 200 : UserTokenSuccessfulResponse (User has been found, token was returned)
   *   code 201 : UserTokenSuccessfulResponse (User has been created, token was returned)
   *   code 400 : UserTokenFailedResponse (Bad data)
   *   code 403 : UserTokenFailedResponse (Forbidden)
   * 
   * Available security schemes:
   *   internalApiKey (apiKey)
   * 
   * @param organizationId Organization ID
   * @param body Provides organization token and user ID
   * @param accessToken User&#39;s OAuth2 access token
   */
  def v1OrganizationsOrganizationIdUsersPost(organizationId: Int, body: UserTokenRequest, accessToken: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[UserTokenSuccessfulResponse] =
    ApiRequest[UserTokenSuccessfulResponse](ApiMethods.POST, "https://app.quantimo.do/api", "/v1/organizations/{organizationId}/users", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withBody(body)
      .withQueryParam("access_token", accessToken)
      .withPathParam("organizationId", organizationId)
      .withSuccessResponse[UserTokenSuccessfulResponse](200)
      .withErrorResponse[UserTokenSuccessfulResponse](201)
      .withErrorResponse[UserTokenFailedResponse](400)
      .withErrorResponse[UserTokenFailedResponse](403)
      

}

