/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.CommonResponse
import io.swagger.client.model.UserTag
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object TagsApi {

  /**
   * Delete previously created user tags or ingredients.
   * 
   * Expected answers:
   *   code 200 : CommonResponse (Successful Operation)
   *   code 401 :  (Not Authenticated)
   * 
   * @param taggedVariableId This is the id of the variable being tagged with an ingredient or something.
   * @param tagVariableId This is the id of the ingredient variable whose value is determined based on the value of the tagged variable.
   */
  def v1UserTagsDeletePost(taggedVariableId: Int, tagVariableId: Int): ApiRequest[CommonResponse] =
    ApiRequest[CommonResponse](ApiMethods.POST, "https://app.quantimo.do/api", "/v1/userTags/delete", "application/json")
      .withQueryParam("taggedVariableId", taggedVariableId)
      .withQueryParam("tagVariableId", tagVariableId)
      .withSuccessResponse[CommonResponse](200)
      .withErrorResponse[Unit](401)
        /**
   * This endpoint allows users to tag foods with their ingredients.  This information will then be used to infer the user intake of the different ingredients by just entering the foods. The inferred intake levels will then be used to determine the effects of different nutrients on the user during analysis.
   * 
   * Expected answers:
   *   code 200 : CommonResponse (Successful Operation)
   *   code 401 :  (Not Authenticated)
   * 
   * @param body Contains the new user tag data
   * @param accessToken User&#39;s OAuth2 access token
   */
  def v1UserTagsPost(body: UserTag, accessToken: Option[String] = None): ApiRequest[CommonResponse] =
    ApiRequest[CommonResponse](ApiMethods.POST, "https://app.quantimo.do/api", "/v1/userTags", "application/json")
      .withBody(body)
      .withQueryParam("access_token", accessToken)
      .withSuccessResponse[CommonResponse](200)
      .withErrorResponse[Unit](401)
      

}

